# Telegram
Telegram:
  API_ID: ''
  API_HASH: ''
  BOT_TOKEN: ''
  BOT_NAME: '@xxx'
  requese_channel: '@xxx'

ADMIN_IDS:                  # 管理员列表
  - xxx
  - xxx
GROUP_ID: -123              # 监控群组ID
SIGNUP: 1                   # 注册积分，按续期积分比例计算

# 数据库
DataBase:
  DB_HOST: 'localhost'        # 数据库地址
  DB_USER: ''                 # 用户数据库
  DB_PASSWORD: ''
  DB_NAME: ''
  DB_PORT: 3306

# Emby
Emby:
  URL: ''
  API_KEY: ''

# Radarr
Radarr:
  URL: ''
  API_KEY: ''

# Sonarr
Sonarr:
  URL: ''
  API_KEY: ''

OMDB:
  API_KEY: ''

# 哪吒探针
Probe:
  URL: ''
  Token: ''
  Id: ''
